
<!-- app.component.html -->
<router-outlet></router-outlet>

<!-- <h1>Welcome to the ATM Project</h1>
<p>
  My goal with this project is to create a fully functional ATM system
  that simulates basic transactions like withdrawals, deposits, and balance inquiries.
</p>
<p>
  For this project, I'll be using Angular as the front-end framework and
  integrating it with a backend hard coded server to handle the ATM operations.
</p>
<p>
  The resources required for this project include:
  - A development environment with Node.js and Angular CLI installed
  - A Bootstrap CSS library for styling
  - Angular Material UI library for a better user interface
  - Database (front-end hard coded) to store account balances and transaction records
</p>
<p>
  Some of the functions that I plan to implement include:
  - User authentication and login
  - Displaying account balance and transaction history
  - Withdrawal amount selection with appropriate validations
  - Deposit function to add funds to the account
  - ATM transaction logic to handle balance updates
</p>
<p>
  This is just a starting point to give an idea of the ATM project.
</p> -->

